{% load i18n %}
{% load eventurl %}
<div class="panel panel-primary">
    <div class="panel-heading">
        {% if order_has_room %}
        <div class="pull-right">
            <a href="{% eventurl event "plugins:pretix_roomsharing:event.order.room.modify" secret=order.secret order=order.code %}">
                <span class="fa fa-edit"></span>
                {% trans "Change details" %}
            </a>
        </div>
        {% endif %}
        <h3 class="panel-title">
            {% trans "Roomsharing" %}
        </h3>
    </div>
    <div class="panel-body">
        {% if room %}
            <p>
                {% blocktrans trimmed with room=room.name %}
                    You are taking part in the roomshare as part of the room <strong>{{ room }}</strong>.
                {% endblocktrans %}

            </p>
            {% if is_admin %}
            <p>
                {% trans "You have created this room." %}
            </p>
                
            {% endif %}
            <p>
                {% trans "Your fellow room members are:" %}
            </p>
                <ul>
                    {% for f in fellows %}
                    <li>{{ f.order.code }}</li>
                    {% empty %}
                        <li><em>{% trans "Nobody has joined your room yet. Go tell your friends about it!" %}</em></li>
                    {% endfor %}
                </ul>
        {% else %}
            <p>
                {% trans "You will be randomly assigned a room or you have a ticket type without a room." %}
            </p>
        {% endif %}
    </div>
</div>
